.vscode/
dataset/
normal_estimator_cpp/build/
normal_estimator_cpp/NormalEstimatorHoughCNN.cpp
normal_estimator_cpp/NormalEstimatorHoughCNN.cpython-310-x86_64-linux-gnu.so
estimate_results/
__pycache__/
models/__pycache__/
estimate_results/
sources/xyzfiles/

